# System Files
.DS_Store
Thumbs.db
*.log

# IDE Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Node / Packaging
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Backup Files
*~
*.bak
*.tmp
